/* .button {
  display: flex;
  width: 166px;
  padding: 16px 16px;
  border-radius: 200px;
  background: var(--Button, #e44848);
  color: var(--White, #fff);
  justify-content: center;
  align-items: center;
  font-family: Inter;
  letter-spacing: -0.08px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin-top: 24px;
  transition: background-color 0.3s ease;
  border: none;
} */
