.location {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 40px;
}
.locationText {
  color: var(--Gray, #6c717b);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.locationForm {
  display: flex;
  width: 360px;
  height: 56px;
  padding: 18px 218px 18px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: var(--Inputs, #f7f7f7);
  border: none;
}
.inputWrapper {
  position: relative;
  width: 100%;
}

.locationIcon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #6c717b;
  width: 20px;
  height: 20px;
}
/*  */

.equipmentWrapper {
  margin-bottom: 24px;
}
.text {
  color: var(--Main, #101828);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  margin: 0 0 24px 0;
  position: relative;
  padding-bottom: 24px;
}

.text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--Gray-light, #dadde1);
}

.hiddenInput {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}
.items {
  display: flex;
  width: 360px;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* align-items: flex-start; */
  gap: 8px;
}
.item {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 112px;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  transition: border-color 0.3s ease;
  border-radius: 12px;
  border: 1px solid var(--Gray-light, #dadde1);
  mix-blend-mode: multiply;
}
.item:hover {
  border-color: #e44848;
}
.icon {
  width: 32px;
  height: 32px;
}
.hiddenInput:checked + .item {
  border-color: #d84343;
}

.button {
  margin-top: 40px;
  display: flex;
  width: 166px;
  padding: 16px 60px;
  border-radius: 200px;
  border: 0;
  background: var(--Button, #e44848);
  color: var(--White, #fff);
  justify-content: center;
  align-items: center;

  cursor: pointer;
  text-align: center;

  transition: background-color 0.3s ease;
  color: var(--White, #fff);

  /* Button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.08px;
}
.button:hover {
  background-color: #d84343;
}
