.wraper {
  background-image: url("/images/Picture.png");
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  width: 1440px;
  flex-direction: column;
  /* align-items: center; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  left: 64px;
  top: 260px;
}

.textWraper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.title {
  color: #f7f7f7;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 66.667% */
  margin: 0;
}
.subtitle {
  color: #f7f7f7;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
}

.button {
  display: flex;
  width: 166px;
  padding: 16px 16px;
  border-radius: 200px;
  background: var(--Button, #e44848);
  color: var(--White, #fff);
  justify-content: center;
  align-items: center;
  font-family: Inter;
  letter-spacing: -0.08px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin-top: 24px;
  transition: background-color 0.3s ease;
  border: none;
}
.button:hover {
  background-color: #d84343;
}
